<ul class="acm-nav">
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/home.png" alt="home">
    <a href="http://acm.ccs.neu.edu/">Home</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/about.png" alt="info sign">
    <a href="http://acm.ccs.neu.edu/about">About Us</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/news.png" alt="pin">
    <a href="http://acm.ccs.neu.edu/news">News</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/calendar.png" alt="calendar">
    <a href="http://acm.ccs.neu.edu/calendar">Calendar</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/nic.png" alt="clipboard">
    <a href="https://wiki.ccs.neu.edu/display/NUACM/NIC">NIC</a>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/library.png" alt="books">
    <a href="http://acm.ccs.neu.edu/library">Library</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/officers.png" alt="star">
    <a href="{% url index %}" class="active">Election</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/video.png" alt="movie reel">
    <a href="http://acm.ccs.neu.edu/videos">Videos</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/officers.png" alt="star">
    <a href="http://acm.ccs.neu.edu/officers">Officers</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/members.png" alt="people silhouette">
    <a href="http://acm.ccs.neu.edu/members">Members</a>
  </li>
  <li>
    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/contact.png" alt="envelope">
    <a href="http://acm.ccs.neu.edu/contact">Contact Us</a>
  </li>
</ul>
