<!DOCTYPE html>
<!--/* vim: set filetype=htmldjango : */-->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="http://acm.ccs.neu.edu/files/nuacmtheme_favicon.ico" type="image/x-icon">
  <title>{% block title %}nuACM Elections{% endblock %}</title>
  <link rel="stylesheet" href="http://acm.ccs.neu.edu/modules/event/event.css">
  <link rel="stylesheet" href="http://acm.ccs.neu.edu/modules/node/node.css">
  <link rel="stylesheet" href="http://acm.ccs.neu.edu/modules/system/defaults.css">
  <link rel="stylesheet" href="http://acm.ccs.neu.edu/modules/system/system.css">
  <link rel="stylesheet" href="http://acm.ccs.neu.edu/modules/user/user.css">
  <link rel="stylesheet" href="http://acm.ccs.neu.edu/themes/nuacmtheme/style.css">
  <link rel="stylesheet" href="http://acm.ccs.neu.edu/themes/nuacmtheme/niftyCorners.css">
  <link rel="stylesheet" href="{% url media "styles/election.css" %}" type="text/css">
  {% block styles %}{% endblock %}
  {% block scripts-head %}{% endblock %}
</head>
<body>
  <p></p>
  <div id="page">
    <div id="pagebody">
      <table id="layout-table">
        <tr>
          <td id="left-sidebar">
            <div class="sidebar-module">
              <div class="module-pad">
                <nav>
                {% include "acm-links.html" %}
                </nav>
              </div>
            </div>
            <div class="sidebar-module">
              <div class="module-pad">
                <ul class="acm-nav">
                {% block usernav %}{% endblock %}
                {% if user.is_authenticated %}
                  <li>
                    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/members.png" alt="">
                    <a href="{% url candidate-view user %}">{{ user }}</a>
                  </li>
                  <li>
                    {% if user.candidate %}
                      <a class="indent" href="{% url candidate-edit user %}">Edit Your Profile</a>
                    {% else %}
                      <a class="indent" href="{% url candidate-add user %}">Become a Candidate</a>
                    {% endif %}
                  </li>
                  <li>
                    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/members.png" alt="">
                    <a href="{% url logout %}">Log out</a>
                  </li>
                {% else %}
                  <li>
                    <img src="http://acm.ccs.neu.edu/themes/nuacmtheme/menu-icons/members.png" alt="">
                    <a href="{% url login %}">Log in</a>
                  </li>
                {% endif %}
                </ul>
              </div>
            </div>
          </td>
          <td id="main-content">
            <div id="main">
              {% if messages %}
              <div>
                <ul class="messages">
                  {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <!-- BEGIN DJANGO RELATED CODE -->
              {% block content %}{% endblock %}
              <!-- END DJANGO RELATED CODE -->
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="footer"></div>
  <!-- Load jQuery -->
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("jquery", "1");
  </script>
  <script type="text/javascript" src="{% url media "js/acm.js" %}"></script>
  <script type="text/javascript" src="http://acm.ccs.neu.edu/themes/nuacmtheme/niftycube.js"></script>
  <script type="text/javascript">
    $(function() {
      Nifty("div#pagebody", "big");
      Nifty("div.sidebar-module");
      Nifty("div#front-about");
      Nifty("div#front-events");
      Nifty("div#front-news");
      Nifty("div#request");
    });
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
