#info {
  width: 400px;
}
#office_info {
  display: none;
  background-color: #E2EBF5;
  width: 300px;
  position: absolute;
  left: 10px;
  border: 1px solid black;
  padding: 10px;
}
#offices {
  width: 100%;
}
#offices th {
  width: 80%;
}
#offices td {
  text-align: center;
}

#title {
  color:#333333;
  font-weight: bold;
  font-size: 24px;
}

#desc {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  position: relative;
}
#desc_in {}
#close {
  position: absolute;
  text-decoration: none;
  right: 10px;
  top: 5px;
}
#cont {
  position: relative;
  min-height: 320px;
}
#profile {
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
}
ul.messages {
  padding: 0;
  margin: 0 0 0.5em 0;
}
ul.messages li {
  list-style: none;
  text-align: center;
  padding: 0.5em 0;
  border: 1px solid #000000;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
}
ul.messages li.warning {
  border-color: #FF1F1F;
  color: #FF0F0F;
  background-color: #FF9999;
}
ul.messages li.info {
  border-color: black;
  color: black;
  background-color: #E3FCC6;
}
a.indent {
  margin-left: 30px;
}
#main {
  font-size: 13px;
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

dl#login-form dt {
  width: 6em;
  float: left;
  clear: both;
}

ul.acm-nav {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.acm-nav li {
    padding: 6px;
    font-size: 16px;
}

ul.acm-nav li ul {
    list-style: none;
    margin-top: 4px;
    margin-left: 25px;
    padding-left: 0;
}

ul.acm-nav li ul li {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: none;
    padding: 3px;
}

ul.acm-nav li img {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    position: relative;
    top: -2px;
    margin-right: 4px;
    behavior: url(http://acm.ccs.neu.edu/themes/nuacmtheme/pngbehavior.htc);
}
