{% extends 'base.html' %}

{% block title%}nuACM Elections: Candidates{% endblock %}

{% block scripts %}
<link href='/election/media/styles/election.css' rel='stylesheet' type='text/css'/>
<script type="text/javascript">
    a = function(){
        Nifty('div#desc','big,fixed-height');
    }
    on_load.add(a);
</script>
{% endblock %}

{% block content %}
    <h1 class='title'>Candidates</h1>
    <div class='node'>
	Listed below are the current candidates for office for this election.
	Candidates are grouped by the office they intend to run for. If a
	candidate wishes to run for multiple offices, they will appear under each
	office they intend to run for.
    </div>
    <div class='node'>
	To get more information about a particular candidate, please click their
	name to navigate to their personal profile page. If you wish to find out
	more about a particular office, please click an office's title, or visit
	our office's page.
    </div>
    {% if user.is_authenticated %}
    <div>
      <p>
      If you are interested in running for an office. Register as a candidate
      <a href="{% url candidates.views.add_candidate user.username %}">here</a>.
      </p>
    </div>
    {% endif %}
    <div clv id='office_info' style='left:40%;'>
        <span id='title'></span>
        <a id="close" href="">X</a>
        <div id='desc'><div id='desc_in'></div></div>
    </div>
    <div class='node' style='width:50%;float:left;'>
        {% for o in offices_fall %}
            <div>
                <b><a class='office' onclick="OfficeDesc(this,'{{o.pk}}');return false;" href=''>{{o.fulltitle}}</a></b>
                {% if not o.candidate_set.all %}
                    <i>No candidates currently</i>
                {% endif %}
                {% if o.candidate_set.all %}
                    <ul>
                    {% for c in o.candidate_set.all %}
                        <li><a href='{% url candidates.views.get_candidate c.username %}'>{{c.fullname}}</a></li>
                    {% endfor%}
                    </ul>
                {% endif %}
            </div>
            <br/>
        {% endfor %}
    </div>
    <div class='node' style='width:50%;float:right;'>
        {% for o in offices_spr %}
            <div>
                <b><a class='office' onclick="OfficeDesc(this,'{{o.pk}}');return false;" href=''>{{o.fulltitle}}</a></b>
                {% if not o.candidate_set.all %}
                    <i>No candidates currently</i>
                {% endif %}
                {% if o.candidate_set.all %}
                    <ul>
                    {% for c in o.candidate_set.all %}
                        <li><a href='{% url candidates.views.get_candidate c.username %}'>{{c.fullname}}</a></li>
                    {% endfor%}
                    </ul>
                {% endif %}
            </div>
            <br/>
        {% endfor %}
    </div>
    {% if orphens %}
    <div class='node' style='clear:both;'>
        <b>Candidates who have not selected offices</b>:<br/>
        <ul>
        {% for c in orphens %}
            <li><a href='{% url candidates.views.get_candidate c.username %}'>{{c.fullname}}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
