{% extends "base.html" %}

{% block title%}nuACM Election: {{ candidate.full_name }}"s Profile{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function () {
  Nifty("div#profile", "fixed-height,big");
  Nifty("div#desc", "big,fixed-height");
  $("a.office").click(function(e) {
    e.preventDefault();
    office_dialog(this, this.href + "json/");
  });
});
</script>
{% endblock%}

{% block content %}
<div id="cont" class="node">
  <h1 class="title">{{ candidate.full_name }}</h1>
  <div id="info">
  {% if candidate.offices.all %}
    <h5>Running for: </h5>
    {% for o in candidate.offices.all %}
      <a class="office" href="{% url office-view o.pk %}"
        >{{ o.full_title }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% else %}
    <h5>Not running for any offices</h5> 
  {% endif %}
    <div id="office_info">
      <span id="title"></span>
      <a id="close" href="">X</a>
      <div id="desc"><div id="desc_in"></div></div>
    </div>
    <h5>Stance: </h5>
    {{ candidate.stance|default:"Has not taken a stand on anything yet."|linebreaks }}
  </div>
  <div id="profile">
    {% if candidate.picture.name %}
      <img src="{{ candidate.picture.url }}"
        alt="{{ candiate.full_name }}"/>
    {% endif %}
  </div>
</div>
<div class="node">
  <a href="{% url candidate-index %}">Back to Candidates</a>
</div>
{% endblock %}
