{% extends 'base.html' %}

{% block title%}nuACM Election: Voting{% endblock %}

{% block content %}
<h3>Voting</h3>
<div class='node'>
    Welcome to the voting page. If you have made it this far, you are 
    logged in as a CCIS user and are a member of nuACM. Thank you for 
    your continued support.<br/> 
    To use the application, please browse through
    the following positions, and select a candidate from the dropdown for
    that position.  If you wish to obstain from voting for a position, please
    select '--No Confidence--'.  If you do not see a candidate you wish to
    vote for, and feel someone else is more qualified for a position,
    select '--Use WriteIn--' in the dropdown, and write that person's CCIS
    username in the field provide. <br/>
    Carefully review your choices, and click 'Cast Vote' when you are done.
</div>
<div class='node'>
    <form method="post" action="">
      {% csrf_token %}
        <table>
        <tr>
            <th style='font-size:14px;color:darkblue;width:45%;'>Position</th>
            <td style='font-size:14px;color:darkblue;width:25%;'>Candidates</th>
            <td style='font-size:14px;color:darkblue;width:20%;'>Write In</th>
            {% for p in pairs %}
            <tr>
                <th>{{ p.sel.label }}</th>
                <td>{{ p.sel }}</td>
                <td>{{ p.wri }}</td>
            </tr>
           {% endfor %}
        <tr>
        </table>
        <input type='SUBMIT' value='Cast Vote'/ style='float:right'>
    </form>
</div>
{% endblock %}
