{% extends 'base.html' %}

{% block title%}nuACM Election: {{candidate.fullname}}'s Profile{% endblock %}

{% block css %}
<style>
    #cont { position: relative; min-height:320px; }
    #profile {
        width:200px;
        position: absolute;
        right:0; top:0;
    }
</style>
<link rel='stylesheet' type='text/css' href='/election/media/styles/election.css'/>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    a = function(){
        Nifty('div#profile','fixed-height,big');
        Nifty('div#desc','big,fixed-height');
    }
    on_load.add(a);
</script>
{% endblock%}

{% block content %}
    <div id='cont' class='node'>
        <h1 class='title'>{{candidate.fullname}}</h1>
        <div id='info'>
            {% if candidate.offices.all %}
            <h5>Running for: </h5>
            {% for o in candidate.offices.all %}
                {% if not forloop.first %}, {% endif%}
                <a class='office' onclick="OfficeDesc(this,'{{o.pk}}');return false;" href=''>{{o.fulltitle}}</a>
            {% endfor %}
            {% else %}
            <h5>Not running for any offices</h5> 
            {% endif %}
            <div id='office_info'>
                <span id='title'></span>
                <a id="close" href="">X</a>
                <div id='desc'><div id='desc_in'></div></div>
            </div>
            <h5>Stance: </h5>
            {{candidate.stance|default:"Has not taken a stand on anything yet."|linebreaks}}
        </div>    
        <div id='profile'>
        {% ifnotequal candidate.pic.name '' %}
           <img src="{{candidate.pic.url}}"/>
        {% endifnotequal %}
        </div>
    </div>
    <div class='node'>
        <a href='{% url acm_election.candidates.views.index %}'>Back to Candidates</a>
    </div>
{% endblock %}
