/* @override 
	http://localhost:8000/library/manage/niftyCorners.css
	http://localhost:8000/library/static/styles/library.css
*/

/* @group Request */

div#request {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: #e2ebf5;
  padding: 10px;
}

#main div#request h2 {
  display: block;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-top: 10px;
}

#main div#request form {
  display: inline-block;
  position: relative;
  left: 77%;
  margin-top: 5px;
}

p.bookicon {
  background: url(/library/static/images/icons/book_32x32.png) no-repeat 4px 10px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 40px;
  margin-bottom: 10px;
  min-height: 35px;
  display: block;
}

div.erroricon {
  background: url(/library/static/images/icons/error_48x48.png) no-repeat 4px 4px;
  margin-bottom: 10px;
  min-height: 45px;
  display: block;
  padding-left: 70px;
  padding-top: 5px;
}

p#title {
  font-size: 18px;
  margin-bottom: 5px;
}

div.successicon {
  background: url(/library/static/images/icons/checkmark_48x48.png) no-repeat 4px 4px;
  margin-bottom: 10px;
  min-height: 45px;
  display: block;
  padding-left: 70px;
  padding-top: 5px;
}

div.warningicon {
  background: url(/library/static/images/icons/warning_48x48.png) no-repeat 4px 4px;
  margin-bottom: 10px;
  min-height: 45px;
  display: block;
  padding-left: 70px;
  padding-top: 5px;
}

#dialoginfo p {
  padding-left: 70px;
  margin-bottom: 5px;
}

#info {
  margin-left: 40px;
}

/* @end */

/* @group Browse */

#main ul.books {
  list-style-type: none;
  font-size: 15px;
  padding-left: 15px;
  margin-top: 10px;
  line-height: 20px;
}

/* @end */

img.book-thubmnail {
  width: 75px;
  float: left;
  margin-right: 15px;
}

img.book-thumbnail-detail {
  width: 200px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#main div.book-content div.book-detail div.book-actions-detail p a img.button {
  margin-right: 10px;
}

div.actions-right-detail {
  width: 170px;
  float: right;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.actions-left-detail {
  width: 170px;
  float: left;
  padding: 10px 0 0 10px;
}

div.navigation {
  display: inline-block;
  width: 100%;
  background-color: #E2EBF5;
  padding: 5px;
  margin-bottom: 5px;
}

#main div.navigation form {
  display: inline;
  float: left;
  margin-left: 5px;
}

div.pagination {
  display: inline-block;
  float: right;
  font-size: 12px;
  margin-top: 3px;
  margin-right: 15px;
}

div.book-info {
  display: inline-block;
  padding: 5px;
}

#info p {
  display: inline-block;
}

div.book-info-left {
  width: 175px;
  display: inline-block;
  margin-right: 40px;
}

div#about-the-book {
  clear: both;
  font-weight: bold;
  font-size: 17px;
}

#about-the-book p {
  margin: 0;
}

a img.button {
  border: 0;
}

/* @group Detail Actions */

div.book-actions-detail {
  display: inline-block;
  width: 380px;
  border: 1px solid #d5dfd5;
  background-color: #fff;
  font-size: 14px;
}

a.detail {
  height: 24px;
  padding-left: 28px;
  padding-top: 5px;
  display: block;
}

a.detail.request-detail {
  background: url(/library/static/images/icons/request_24x24.png) no-repeat;
  margin-bottom: 2px;
}

a.detail.details-detail {
  background: url(/library/static/images/icons/details_24x24.png) no-repeat;
}

a.detail.read-online-detail {
  background: url(/library/static/images/icons/book_24x24.png) no-repeat;
  margin-bottom: 5px;
}

a.search-inside-detail {
  background: url(/library/static/images/icons/search_24x24.png) no-repeat;
}

/* @end */

div.book-info-right {
  width: 178px;
  display: inline-block;
}

#main div.book-content div.book-detail div.book-info p {
  margin: 0;
  padding-bottom: 5px;
}

div.book {
  background: url(/library/static/images/general/gradient.jpg) repeat-x;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
}

div.book-content {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 10px;
}

div.book-content-padding {
  background: url(/library/static/images/general/gradient-detail.jpg) repeat-x;
  padding: 10px;
}

div.book-actions {
  width: 225px;
  height: 45px;
  float: right;
  font-size: 12px;
  color: gray;
  border: 1px solid #c6c6c6;
  background-color: white;
  padding: 5px 5px 0;
  margin-bottom: 5px;
}

/* @group Browse Actions */

a.browse {
  padding-left: 20px;
  padding-top: 3px;
  height: 16px;
}

a.browse.request {
  background: url(/library/static/images/icons/request_16x16.png) no-repeat;
  margin-bottom: 2px;
}

a.browse.details {
  background: url(/library/static/images/icons/details_16x16.png) no-repeat;
}

a.browse.read-online {
  background: url(/library/static/images/icons/book_16x16.png) no-repeat;
  margin-bottom: 2px;
}

a.browse.search-inside {
  background: url(/library/static/images/icons/search_16x16.png) no-repeat;
}

div.actions-left {
  width: 105px;
  margin: 0;
  float: left;
}

div.actions-right {
  width: 105px;
  float: right;
}

/* @end */

#main div.book div.book-content div.book-actions a {
  font-size: 11px;
  vertical-align: 3px;
  display: block;
  border: 0;
}

#main div.book div.book-content div.book-actions a img.button {
  height: 16px;
  margin-right: 3px;
}

div.book-thumb {
  width: 75px;
  float: left;
  margin-right: 15px;
}

div.tags {
  background-color: #f1f1f1;
  display: block;
  clear: both;
}

p.tags {
  margin: 0;
}

a.tag {
  text-transform: lowercase;
  font-size: 11px;
}

a.title {
  font-size: 15px;
}

p.authors {
  font-size: 12px;
  color: gray;
}

div.details {
  clear: both;
}

div.divider {
  width: 113px;
  display: inline-block;
  border: 1px solid black;
}

img#ZoomImage {
  border: 0;
}

/* @group Front Page */


div#search-home {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

input#navsearch {
  height: 10px;
  width: 175px;	
  font-size: 9px;
}

img#logo {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

form#homesearch {
  margin-left: 125px;
  display: block;	
  margin-top: 10px;
}

input#search {
  height: 25px;
  width: 275px;
  font-size: 20px;
  margin-right: 20px;	
  float: none;	
  display: run-in;
}

input#search-submit {
  height: 30px;
  width: 75px;
  background-color: #fff;
}

#browse-home div.module-pad h1 {	
  text-align: center;	
  margin-top: 35px;	
  margin-bottom: 10px;
}

div#browseby {	
  text-align: center;	
  font-size: 25px;
}

#author {	
  margin-right: 10px;	
  margin-left: 10px;
}

#publisher {	
  margin-left: 10px;
}

#books {	
  margin-right: 10px;
}

/* @end */

/* @group Tables */

table.ZoomShadowTable {
  border-collapse: inherit;
}

table.admin {
  border-collapse: collapse;
  border-color: #ccc;
}

td.admin, th.admin {
  font-size: 11px;
  line-height: 13px;
  vertical-align: top;
  padding: 5px;
}

th.admin.title {
  width: 450px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

td.admin.action {
  border-bottom: 1px solid #eee;
}

thead th, 
tfoot td {
  color: #666;
  padding: 2px 5px;
  font-size: 11px;
  background: #e1e1e1 url(/media/img/admin/nav-bg.gif) top left repeat-x;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tfoot td {
  border-bottom: none;
  border-top: 1px solid #ddd;
}

thead th:first-child, 
tfoot td:first-child {
  border-left: none !important;
}

thead th.optional {
  font-weight: normal !important;
}

fieldset table {
  border-right: 1px solid #eee;
}

tr.row-label td {
  font-size: 9px;
  padding-top: 2px;
  padding-bottom: 0;
  border-bottom: none;
  color: #666;
  margin-top: -1px;
}

tr.alt {
  background: #f6f6f6;
}

.row1 {
  background: #EDF3FE;
}

.row2 {
  background: white;
}

/* @end */

/* @group Modules */

.module {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background: white;
  display: inline-block;
  width: 643px;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
  padding-left: 10px;
  padding-right: 10px;
}

.module blockquote {
  margin-left: 12px;
}

.module ul, .module ol {
  margin-left: 1.5em;
}

.module h3 {
  margin-top: .6em;
}

.module h2, .module caption {
  margin: 0;
  padding: 2px 5px 3px 5px;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  background: #7CA0C7 url(/media/img/admin/default-bg.gif) top left repeat-x;
  color: white;
}

.module table {
  border-collapse: collapse;
  width: 100%;
}

#main div div.module table.admin tbody tr td {
  text-align: right;
}

div.module.checkout {
  width: 240px;
  float: left;
}

div.module.checkin {
  width: 240px;
  float: right;
}

/* @end */

/* @

group Acton Icons */

.addlink {
  padding-left: 12px;
  background: url(/library/static/images/icons/check_16x16.png) 0 .2em no-repeat;
}

.changelink {
  padding-left: 12px;
  background: url(/library/static/images/icons/pencil_16x16.png) 0 .2em no-repeat;
}

.deletelink {
  padding-left: 12px;
  background: url(/media/img/admin/icon_deletelink.gif) 0 .25em no-repeat;
}

a.deletelink:link, a.deletelink:visited {
  color: #CC3434;
}

a.deletelink:hover {
  color: #993333;
}

/* @end */